
body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fffacd; 
    color: #4B2E2E; 
}


h1, h2 {
    font-family: 'Sofia', sans-serif;
    color: #bd34a4; 
}


p {
    color: #0f0e0e; 
}


header {
    background-color: #faa6f6; 
    padding: 20px;
    text-align: center;
}

main {
    background-color: #cabeb0; 
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #bd34a4; 
    background-color: #ffffff; 
}


a {
    color: #f3bde8; 
}

a:hover {
    color: #725430; 
}


img {
    max-width: 100%;
    height: auto;
    border: 2px solid #bd34a4; 
    padding: 5px;
    background-color: #f8e2e7; 
}
