header {
  padding: 2rem;
}


main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Adjust as needed */
}





footer {
  background-color: #4b0082; 
  color: #fff;
  padding: 5rem;
}

